In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.metrics import pairwise_distances
from scipy.spatial.distance import correlation,cosine

In [19]:
book= pd.read_csv('C:/Users/ADITYA/Downloads/book.csv')

In [20]:
book

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6
...,...,...,...,...
9995,9996,162121,American Fried: Adventures of a Happy Eater.,7
9996,9997,162121,Cannibal In Manhattan,9
9997,9998,162121,How to Flirt: A Practical Guide,7
9998,9999,162121,Twilight,8
9999,10000,162129,Kids Say the Darndest Things,6

In [21]:
book.head()

,Unnamed: 0,User.ID,Book.Title,Book.Rating
0,1,276726,Classical Mythology,5
1,2,276729,Clara Callan,3
2,3,276729,Decision in Normandy,6
3,4,276736,Flu: The Story of the Great Influenza Pandemic...,8
4,5,276737,The Mummies of Urumchi,6

In [22]:
data=book.drop('Unnamed: 0',axis=1)

In [23]:
data

      User.ID                                         Book.Title  Book.Rating
0      276726                                Classical Mythology            5
1      276729                                       Clara Callan            3
2      276729                               Decision in Normandy            6
3      276736  Flu: The Story of the Great Influenza Pandemic...            8
4      276737                             The Mummies of Urumchi            6
...       ...                                                ...          ...
9995   162121       American Fried: Adventures of a Happy Eater.            7
9996   162121                              Cannibal In Manhattan            9
9997   162121                    How to Flirt: A Practical Guide            7
9998   162121                                           Twilight            8
9999   162129                       Kids Say the Darndest Things            6

[10000 rows x 3 columns]

In [24]:
data.isnull().sum()

User.ID        0
Book.Title     0
Book.Rating    0
dtype: int64

In [25]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   User.ID      10000 non-null  int64
 1   Book.Title   10000 non-null  object
 2   Book.Rating  10000 non-null  int64
dtypes: int64(2), object(1)
memory usage: 234.5+ KB

In [26]:
data.shape

(10000, 3)

In [27]:
data=data.rename(columns={'User.ID': 'Userid','Book.Title':'Books','Book.Rating':'Rating'})

In [28]:
data

      Userid                                              Books  Rating
0     276726                                Classical Mythology       5
1     276729                                       Clara Callan       3
2     276729                               Decision in Normandy       6
3     276736  Flu: The Story of the Great Influenza Pandemic...       8
4     276737                             The Mummies of Urumchi       6
...      ...                                                ...     ...
9995  162121       American Fried: Adventures of a Happy Eater.       7
9996  162121                              Cannibal In Manhattan       9
9997  162121                    How to Flirt: A Practical Guide       7
9998  162121                                           Twilight       8
9999  162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [29]:
data.corr()

          Userid    Rating
Userid  1.000000 -0.041523
Rating -0.041523  1.000000

In [30]:
len(data.Userid.unique())

2182

In [31]:
len(data.Books.unique())

9659

In [33]:
data.sort_values(['Userid'])

      Userid                                              Books  Rating
2401       8                                              Wings       5
2400       8  The Western way: A practical guide to the West...       5
2399       8                            Ancient Celtic Romances       5
2402       8                                           Truckers       5
2405       8                                  The Art Of Celtia       7
...      ...                                                ...     ...
2395  278854          La crónica del Perú (Crónicas de América)       7
2398  278854  Celtic Mythology (Library of the World's Myths...       8
2393  278854                         A corrente de Trewis Scott       7
2394  278854                                       As valkírias       7
2397  278854     A Treasury of Irish Myth, Legend, and Folklore       6

[10000 rows x 3 columns]

In [35]:
books=data.pivot_table(index='Userid',columns='Books',values='Rating').reset_index(drop=True)

In [36]:
books

Books,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,�?�?bermorgen.
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2178,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2179,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
2180,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2181,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
books.index=data.Userid.unique()

In [40]:
books

Books,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,�?�?bermorgen.
276726,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276729,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276736,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276737,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
276744,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162113,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7.0,NaN,NaN
162121,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162129,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [41]:
books.fillna(0,inplace=True)
books

Books,"Jason, Madison &amp",Other Stories;Merril;1985;McClelland &amp,Repairing PC Drives &amp,'48,'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities,...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR,01-01-00: A Novel of the Millennium,"1,401 More Things That P*Ss Me Off",10 Commandments Of Dating,"100 Great Fantasy Short, Short Stories",...,Zora Hurston and the Chinaberry Tree (Reading Rainbow Book),\Even Monkeys Fall from Trees\ and Other Japanese Proverbs,\I Won't Learn from You\: And Other Thoughts on Creative Maladjustment,"\More More More,\ Said the Baby",\O\ Is for Outlaw,"\Surely You're Joking, Mr. Feynman!\: Adventures of a Curious Character","\Well, there's your problem\: Cartoons",iI Paradiso Degli Orchi,stardust,�?�?bermorgen.
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
162107,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162109,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162113,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,7.0,0.0,0.0
162121,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
162129,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [42]:
a = 1-pairwise_distances(books.values,metric='cosine')
a

array([[1., 0., 0., ..., 0., 0., 0.],
       [0., 1., 0., ..., 0., 0., 0.],
       [0., 0., 1., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 1., 0., 0.],
       [0., 0., 0., ..., 0., 1., 0.],
       [0., 0., 0., ..., 0., 0., 1.]])

In [46]:
np.fill_diagonal(a,0)

In [47]:
a

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [48]:
use= pd.DataFrame(a)
use

,0,1,2,3,4,5,6,7,8,9,...,2172,2173,2174,2175,2176,2177,2178,2179,2180,2181
0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2177,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2178,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2179,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2180,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2181,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [50]:
use.index=data.Userid.unique()

In [51]:
use.columns=data.Userid.unique()

In [52]:
use[0:40]

,276726,276729,276736,276737,276744,276745,276747,276748,276751,276754,...,162085,162091,162092,162095,162103,162107,162109,162113,162121,162129
276726,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276729,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276736,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276737,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276744,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276745,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276747,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276748,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276751,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276754,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276760,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276762,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276768,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276772,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276774,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276780,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276786,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276788,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276796,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276798,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276800,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276804,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276808,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276811,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276812,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276813,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276814,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276820,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276822,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276827,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276828,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276830,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276832,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276835,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276837,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276842,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276847,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276848,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
276850,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [53]:
book_list= list(books)

In [54]:
book_titles=[]

In [55]:
for i in range(len(book_list)):
    book_titles.append(book_list[i])

In [56]:
book_titles

[' Jason, Madison &amp',
 ' Other Stories;Merril;1985;McClelland &amp',
 ' Repairing PC Drives &amp',
 "'48",
 "'O Au No Keia: Voices from Hawai'I's Mahu and Transgender Communities",
 '...AND THE HORSE HE RODE IN ON : THE PEOPLE V. KENNETH STARR',
 '01-01-00: A Novel of the Millennium',
 '1,401 More Things That P*Ss Me Off',
 '10 Commandments Of Dating',
 '100 Great Fantasy Short, Short Stories',
 '1001 Brilliant Ways to Checkmate',
 '101 Bright Ideas: Esl Activities for All Ages',
 '101 Dalmatians',
 '101 Essential Tips: House Plants',
 '101 Telephone Jokes',
 '101 Wacky Computer Jokes',
 '101 Ways to Make Money at Home',
 '11 Edward Street',
 '11th Hour',
 '13 99 Euros',
 '14,000 Things to Be Happy About',
 '1984',
 '1st to Die: A Novel',
 '20 Jahre 40 bleiben. Jung und sch�?¶n in den besten Jahren.',
 '20 Years of Censored News',
 '20,000 Leagues Under the Sea (Wordsworth Collection)',
 '20,001 Names for Baby',
 '2001 Spanish and English Idioms/2001 Modismos Espanoles E Ingleses: 2001 Modismos Espanoles E Ingleses',
 '2010: Odyssey Two',
 '2061: Odyssey Three',
 '22 Indigo Place',
 '24 Hours',
 '250 Things You Can Do to Make Your Cat Adore You',
 '253',
 '28 Barbary Lane : A \\Tales of the City\\ Omnibus',
 '2nd Chance',
 '3  Bowls : Vegetarian Recipes from an American Zen Buddhist Monastery',
 '3 Plays: Our Town, the Skin of Our Teeth, the Matchmaker (Perennial Classics)',
 '30 Things Everyone Should Know How to Do Before Turning 30',
 '30-Minute Meals',
 '30: Pieces of a Novel',
 '365 Easy Low-Calorie Recipes',
 '365 Health and Happiness Boosters',
 '4 Blondes',
 '40 Tons Of Trouble (Women Who Dare) (Harlequin Super Romance, No 726)',
 '5 Novels : Alan Mendelsohn, the Boy from Mars; Slaves of Spiegel; The Last Guru; Young Adult Novel; The Snarkout Boys and the Avocado of Death',
 '50 Simple Things You Can Do to Save the Earth',
 '500 palabras nuevas para ti / 500 Words To Grow On',
 '66 Laps: A Novel',
 '7b',
 '8 Steps to a Healthy Heart: The Complete Guide to Heart Disease Prevention and Recovery from Heart Attack and Bypass Surgery',
 '8 Weeks to Optimum Health',
 '97 Ways to Make A Baby Laugh',
 '99 francs: Roman',
 'A 3rd Serving of Chicken Soup for the Soul (Chicken Soup for the Soul Series (Paper))',
 'A 4th Course of Chicken Soup for the Soul: 101 More Stories to Open the Heart and Rekindle the Spirit',
 'A 6th Bowl of Chicken Soup for the Soul (Chicken Soup for the Soul)',
 'A BEAUTIFUL MIND: A Biography of John Forbes Nash, Jr., Winner of the Nobel Prize in Economics, 1994',
 'A Baby For Lord Roderick  (Royal Flash) (Harlequin American Romance, No. 926)',
 'A Basic Guide to Archery (An Official U.S. Olympic Committee Sports Series)',
 'A Beautiful Mind : A Biography of John Forbes Nash, Jr.',
 'A Beautiful Mind: The Life of Mathematical Genius and Nobel Laureate John Nash',
 'A Bend in the Road',
 'A Big New Free Happy Unusual Life: Self-Expression and Spiritual Practice for Those Who Have Time for Neither',
 "A Bigamist's Daughter",
 'A Blip in the Continuum (Macintosh Version)',
 'A Bloody Field by Shrewsbury',
 'A Book of Blessings',
 'A Boy Named Phyllis: A Suburban Memoir',
 'A Break with Charity: A Story about the Salem Witch Trials',
 "A Bridge to Wiseman's Cove (Uqp Young Adult Fiction)",
 'A Brief History of Qi',
 'A Brief History of Time : The Updated and Expanded Tenth Anniversary Edition',
 'A Burning Obsession (Blaze)',
 'A Cabinet of Medical Curiosities',
 'A Call to Conscience : The Landmark Speeches of Dr. Martin Luther King, Jr.',
 'A Careful Wife',
 'A Caribbean Mystery',
 'A Case of Conscience (Del Rey Impact)',
 'A Cat in the Manger: An Alice Nestleton Mystery (Alice Nestleton Mysteries (Paperback))',
 'A Certain Justice: A Novel',
 'A Chakra &amp; Kundalini Workbook: Psycho-Spiritual Techniques for Health, Rejuvenation, Psychic Powers and Spiritual Realization',
 'A Charles Williams Reader',
 "A Child Called \\It\\: One Child's Courage to Survive",
 "A Child's Called It and The Lost Boy",
 "A Child's Night Dream",
 'A Christmas Carol (Great Stories)',
 'A Christmas Carol (Scholastic Classics)',
 'A Christmas Story',
 'A Christmas Story : The Book That Inspired the Hilarious Classic Film',
 'A Circle of Silver (Circle of Silver Chronicles)',
 'A City in Winter',
 'A Civil Action',
 'A Clash of Kings (A Song of Fire and Ice, Book 2)',
 'A Cold Day for Murder',
 'A Cold Heart: An Alex Delaware Novel',
 'A Common Life: The Wedding Story (Beloved Mitford, No. 6)',
 'A Confederacy of Dunces (Evergreen Book)',
 "A Connecticut Yankee in King Arthur's Court",
 "A Connecticut Yankee in King Arthur's Court (Dover Thrift Editions)",
 'A Cool Moonlight',
 'A Coral Kiss',
 'A Country Courtship (Zebra Regency Romance)',
 'A Cry In the Dark : Family Secrets: The Next Generation (Intimate Moments)',
 'A Cuisine of Leftovers',
 'A Cup of Light',
 "A Cup of Tea (Ballantine Reader's Circle)",
 'A DOGS LIFE SABRINA THE TEENAGE WITCH 9',
 "A Dangerous Place: California's Unsettling Fate (Images of America)",
 'A Darkness More Than Night',
 'A Day Late and a Dollar Short',
 'A Death for a Doctor',
 'A Death in Vienna',
 'A Death in the Family',
 'A Delusion of Satan: The Full Story of the Salem Witch Trials',
 'A Density of Souls',
 'A Different Kind of Christmas',
 'A Different Voice',
 'A Distant Castle (Silhouette Initmate Moments #7)',
 'A Dog Year: Twelve Months, Four Dogs, and Me',
 'A Dream Is a Wish Your Heart Makes: My Story',
 "A False Sense of Well Being (Ballantine Reader's Circle)",
 'A Family Christmas',
 'A Farewell to Arms (A Scribner Classic)',
 'A Feather on the Breath of God: A Novel',
 "A Fever in the Heart : Ann Rule's Crime Files, Volume III",
 'A Fire in the Earth',
 'A First Book of Shapes (Preschool Dinosaur Playhouse)',
 'A Flash in the Pan: 100 Fast and Furious Recipes for Wok and Stir-Fry',
 'A Fountain Filled With Blood (A Rev. Clare Ferguson Mystery)',
 'A Free Man of Color (Benjamin January (Paperback))',
 'A Funny Thing Happened on My Way Through the Bible',
 'A GATHERING OF SAINTS',
 'A Game of Thrones (A Song of Ice and Fire, Book 1)',
 'A Garden of Earthly Delights (Modern Library 20th Century Rediscovery)',
 'A Gathering of Gargoyles: The Darkangel Trilogy, Volume II',
 'A General Theory of Love',
 'A Gesture Life',
 'A Gift To Last',
 'A Gift of Hope: How We Survive Our Tragedies',
 'A Gift of Wings',
 'A Glory of Unicorns',
 'A Good Old-Fashioned Future: Stories',
 'A Gracious Plenty : A Novel',
 'A Great Deliverance',
 'A Grief Observed',
 'A Guide to the Star Wars Universe',
 'A Heartbreaking Work of Staggering Genius',
 'A Hero of Our Time (Penguin Classics)',
 "A Hiker's Companion: 12,000 Miles of Trail-Tested Wisdom",
 'A History of Wales',
 'A History of the Wife',
 'A Hope in the Unseen : An American Odyssey from the Inner City to the Ivy League',
 'A Is for Alibi (Kinsey Millhone Mysteries (Paperback))',
 'A Is for Salad',
 'A Judgement in Stone',
 'A Killing Gift',
 'A Kiss Remembered',
 'A Kiss Remembered: A Classic Love Story',
 'A Kiss on the Nose Turns Anger Aside',
 'A Knight in Shining Armor',
 'A Lady Never Trifles with Thieves',
 'A Lesson Before Dying (Vintage Contemporaries (Paperback))',
 'A Letter of Mary (Mary Russell Novels (Paperback))',
 'A Letter to Harvey Milk: Short Stories',
 'A Life God Rewards for Teens (The Breakthrough Series)',
 'A Light in the Attic',
 'A Light in the Window (The Mitford Years)',
 'A Little Death',
 'A Little Honesty: Trials and Triumphs of a Prince of Balona',
 'A Little Princess',
 'A Little Yuletide Murder: A Murder, She Wrote Mystery : A Novel (Murder She Wrote (Paperback))',
 'A Long Fatal Love Chase',
 'A Long Way from Chicago: A Novel in Stories (Newbery Honor Book, 1999)',
 'A Long Way from Home',
 'A Long Way from Verona',
 'A Loss for Words : The Story of Deafness in a Family',
 "A Maiden's Grave",
 'A Man Rides Through (Man Rides Through)',
 'A Man in Full',
 'A Man of Steel',
 'A Map of the World',
 'A Marriage Made in Heaven : Or Too Tired for an Affair',
 'A Matter of Taste',
 'A Memory of Lions',
 'A Message from the Match Girl (Investigators of the Unknown, Bk. 3)',
 "A Midwife's Story",
 "A Midwife's Tale : The Life of Martha Ballard, Based on Her Diary, 1785-1812",
 'A Mighty Heart',
 'A Mind at a Time',
 'A Mind of Its Own: A Cultural History of the Penis',
 'A Minor Indiscretion (Red Dress Ink (Paperback))',
 'A Modern Mephistopheles',
 'A Moment on the Earth: The Coming Age of Environmental Optimism',
 'A Monk Swimming',
 'A Monk Swimming : A Memoir',
 'A Monstrous Regiment of Women',
 'A More Perfect Union',
 "A Mother's Heart",
 "A Mother's Love Is Made Up of",
 "A Mother's Trial",
 'A Moveable Feast',
 'A Murder, a Mystery and a Marriage: A Story',
 'A Murderous Yarn (Needlecraft Mysteries)',
 'A Natural History of Love',
 'A Nest of Ninnies',
 'A New Germany in a New Europe',
 'A New Graft on the Family Tree (Grace Livingston Hill Library)',
 'A New Leash on Death',
 'A New Path to the Waterfall',
 'A New Promise (Caitlin : the Promise Trilogy, No 3)',
 'A New Song (The Mitford Years)',
 'A Newbery Christmas',
 'A Night Without Armor : Poems',
 'A Night in the Netherhells',
 'A Noble Radiance',
 'A Northern Light',
 'A ORILLAS DEL RIO PIEDRA ME SENTE Y LLORE',
 'A Painted House',
 'A Paler Shade of White: The History of White People in America - Volume II',
 'A Palette for Murder: Murder She Wrote (Murder She Wrote (Paperback))',
 'A Passage to India',
 'A Patchwork Planet (Random House Large Print)',
 'A Perfect Stranger',
 'A Pinch of Snuff',
 "A Pirate's Love",
 'A Place Called Freedom',
 "A Place I'Ve Never Been (Contemporary American Fiction)",
 'A Place of Greater Safety',
 'A Place of Hiding',
 'A Plague of Angels',
 'A Pocket Full of Seeds (A Puffin Book)',
 'A Pocket Guide to Oahu',
 'A Pocket Mirror for Heroes: By the New York Times Bestselling Author of the Art of Worldly Wisdom',
 'A Portrait of the Artist As a Young Man (Twentieth-Century Classics)',
 'A Prayer for Owen Meany',
 "A Prayer for Owen Meany (Ballantine Reader's Circle)",
 'A Proper Breakfast',
 "A Pussycat's Christmas",
 'A Queer Reader',
 'A Question of Blood',
 'A Question of Guilt',
 'A Quiver Full of Arrows',
 'A RIVER RUNS THROUGH IT AND OTHER STORIES : AND OTHER STORIES',
 'A Rain of Death: A Morris and Sullivan Mystery (Morris &amp; Sullivan Mystery)',
 'A Real Scandinavian Never Asks Directions',
 'A Regency Christmas: Five Stories (Regency Christmas)',
 "A Reporter's Life",
 'A Requiem for Love',
 'A Revolution in Kindness',
 'A Ride into Morning: The Story of Tempe Wick',
 'A River Runs Through It, and Other Stories',
 "A Room of One's Own",
 'A SOCIABLE GOD',
 'A SPY IN THE HOUSE OF LOVE',
 'A STRING OF CHANCES (String of Chances Nrf)',
 'A Sack of Teeth',
 'A Safe Place to Die',
 'A Season Of Miracles',
 'A Second Chance at Eden',
 "A Second Chicken Soup for the Woman's Soul (Chicken Soup for the Soul Series)",
 'A Secret Affair',
 'A Secret History : The Book Of Ash, #1 (Book of Ash)',
 'A Sense of Where You Are : Bill Bradley at Princeton',
 'A Separate Peace (Scribner Classics)',
 'A Short History of Decay',
 'A Short History of a Small Place: A Novel',
 'A Simple Choice : A Practical Guide to Saving Your Time, Money and Sanity',
 "A Single Tear: A Family's Persecution, Love, and Endurance in Communist China",
 'A Small Dark Place',
 'A Small Place',
 "A Snowball's Chance/ A Christmas Carol",
 'A Soldier Reports',
 'A Soldier of the Great War',
 'A Solitary Blue (Point)',
 'A Sorrow in Our Heart: The Life of Tecumseh',
 'A Southern Belle Primer: Or Why Princess Margaret Will Never Be a Kappa Kappa Gamma',
 'A Spell for Chameleon (Xanth Novels (Paperback))',
 'A Step Further',
 'A Still Small Voice',
 'A Stitch in Time: A Quilt Trilogy (Quilt Trilogy, No 1)',
 'A Storm of Swords (A Song of Ice and Fire, Book 3)',
 'A Suitable Boy : Novel, A',
 "A Supposedly Fun Thing I'll Never Do Again : Essays and Arguments Tag: Author of Infinite Jest",
 'A Tale of Time City',
 'A Tally of Types: With Additions by Several Hands ; And With a New Introduction by Mike Parker',
 'A Temporary New Wife',
 'A Thief of Time (Joe Leaphorn/Jim Chee Novels)',
 'A Thousand Acres',
 "A Thousand Acres (Ballantine Reader's Circle)",
 'A Thousand Country Roads: An Epilogue to The Bridges of Madison County',
 'A Thousand Plateaus: Capitalism and Schizophrenia',
 'A Thousand Words for Stranger (Daw Book Collectors)',
 'A Time To Dance',
 'A Time to Kill',
 'A Tortoise for the Queen of Tonga: Stories',
 'A Town Like Alice',
 'A Traitor Among the Boys',
 'A Treasure Worth Seeking',
 'A Treasury of Irish Myth, Legend, and Folklore',
 "A Treasury of Royal Scandals: The Shocking True Stories of History's Wickedest, Weirdest, Most Wanton Kings, Queens, Tsars, Popes, and Emperors",
 'A Tree Grows in Brooklyn',
 'A Triumph of Souls (Journeys of the Catechist, Book 3)',
 'A Twist Of Fate',
 'A Twist at The End',
 'A Valentine Wedding',
 'A Venetian Affair',
 'A Very English Agent',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail',
 'A Walk in the Woods: Rediscovering America on the Appalachian Trail (Official Guides to the Appalachian Trail)',
 'A Whole New Light',
 'A Widow for One Year',
 'A Widow for One Year : A Novel',
 'A Wild Sheep Chase: A Novel (Plume Contemporary Fiction)',
 'A Wing and a Prayer',
 'A Wizard of Earthsea (Earthsea Trilogy, Book 1)',
 "A Wizard's Dozen: Stories of the Fantastic",
 'A Wolf at the Door : and Other Retold Fairy Tales (Aladdin Fiction)',
 "A Woman's Liberation : A Choice of Futures by and About Women",
 "A Woman's Worth",
 'A Wreath for Rivera',
 'A Wrinkle In Time',
 'A Year by the Sea: Thoughts of an Unfinished Woman',
 'A Year in Provence',
 'A Year of Full Moons',
 'A corrente de Trewis Scott',
 "A l'Ouest rien de nouveau",
 'A la vora del pou (El Balancí)',
 'A lexicon of Jewish cooking: A collection of folklore, foodlore, history, customs, and recipes',
 'A polar bear called Pingo',
 'A rebrousse-temps',
 'A room with a view',
 'A spell for Chameleon (Magic of Xanth)',
 'A traves del tiempo',
 'A-Z of Behaving Badly',
 'A.K.A. Jane',
 'ABC MURDERS',
 "ABC'S OF CHESS",
 'ACCORDION CRIMES',
 'AGE OF INNOCENCE (MOVIE TIE-IN)',
 'AGENDA',
 'ALL AROUND ATLANTIS',
 'ALL MY FRIENDS ARE GOING TO BE STRANGERS (Touchstone Book)',
 'ALL THAT REMAINS',
 "ANGELA'S ASHES",
 'ANGELS IN HELL',
 'ANYTHING FOR LOVE (NANCY DREW FILES 107) : ANYTHING FOR LOVE (Nancy Drew Files (Paperback))',
 'APPLE TO CORE',
 'ASP in a Nutshell, 2nd Edition',
 'AT PARADISE GATE',
 'AUTOBIOGRAPHY OF FBI SPECIAL AGENT DALE COOPER',
 'Abduction',
 'Abgrund. Nightmares and Dreamscapes.',
 'Abgr�?¼ndig.',
 'About Face',
 'About That Man',
 'About a Boy (Movie Tie-In)',
 'About a boy',
 'Absalom, Absalom!: The Corrected Text (Vintage International)',
 'Absolute Power',
 'Absolute Zero',
 'Absolutely Normal Chaos',
 'Acampar Manual Practico',
 'Accent of Success, The: A Practical Guide for International Students',
 'Accent on Desire (Second Chance at Love, No 420)',
 'Acceptable Risk',
 'Acid Row',
 'Across Forever',
 'Across a Moonlit Sea',
 'Across the Bitter Sea',
 'Across the Wide and Lonesome Prairie: The Oregon Trail Diary of Hattie Campbell, 1847 (Dear America)',
 "Acts of War (Tom Clancy's Op Center (Paperback))",
 'Ada or Ardor a Family Chronicle (Vintage International)',
 "Adam's Fall",
 'Adolf Hitler',
 'Adolf, Hitler',
 'Adrian Mole: The Lost Years',
 'Adventures at Sea in the Great Age of Sail: Five Firsthand Narratives',
 'Adventures of Huckleberry Finn',
 'Adventures of Huckleberry Finn (Dover Thrift Editions)',
 'Adventures of Huckleberry Finn (Signet Classics (Paperback))',
 'Adventures of Tom Sawyer',
 "Adventures of a Psychic: The Fascinating Inspiring True-Life Story of One of America's Most Successful Clairvoyants",
 'Adventures of a Scottish Heiress',
 'Advocacy in the Classroom: Problems and Possibilities',
 'Aerie Tik Tok of Oz: Defiant-Cn16dp',
 'Affair',
 'Affinity',
 'Affliction',
 'African Women: Their Struggle for Economic Independence',
 "Africans in America: AMERICAN (AMERI)ca's Journey through Slavery",
 'Afrikanisches Fieber. Erfahrungen aus vierzig Jahren.',
 'After All',
 'After All These Years',
 'After Anne (Henke, Roxanne, Coming Home to Brewster, 1.)',
 'After Caroline',
 'After Dark',
 'After Long Silence: A Memoir',
 'After Lucy : A Novel',
 "After the Ball: How America Will Conquer Its Fear and Hatred of Gays in the '90s",
 'After the Darkest Hour: How Suffering Begins the Journey to Wisdom',
 'After the Rain',
 'Afterglow and Nightfall (Brothers of Gwynedd, No. 4)',
 'Afterlife',
 'Afternoon of the Elves',
 'Again The Magic',
 "Against All Enemies: Inside America's War on Terror",
 'Agatha',
 'Age of War  (Super Bolan #90)',
 "Agent Arthur's Arctic Adventure (Usborne Puzzle Adventures)",
 'Agents of Innocence',
 "Ain't Gonna Be the Same Fool Twice",
 "Ain't I A Woman!: A Book of Women's Poetry from Around the World",
 'Airframe',
 'Airport',
 'Això és Ràdio Pica (Col¨lecció Embat)',
 'Akhenaten : Dweller in TruthA Novel',
 'Aké: The years of childhood (Aventura : the Vintage library of contemporary world literature)',
 'Alanna: The First Adventure (Song of the Lioness (Paperback))',
 'Alberta empf�?¤ngt einen Liebhaber. Jubil�?¤ums- Edition.',
 'Alchemist',
 'Alchemy and Academe',
 'Aldo Applesauce',
 'Algebra &amp; Trigonometry Super Review',
 'Ali and Nino: A Love Story',
 'Alias Grace',
 'Alias Grace : A Novel',
 'Alice in Bed',
 'Alice in Wonderland and Through the Looking Glass',
 "Alice's Adventures in Wonderland (Penguin Popular Classics)",
 "Alice's Adventures in Wonderland and Through the Looking Glass",
 "Alice's Tulips",
 'Alicia: My Story',
 'Alien Taste (Roc Science Fiction)',
 "Alien at St Wilfred's",
 "Alistair MacLean's Zeit der Attent�?¤ter.",
 'Alive (Campus Life Series)',
 'All Aboard Fire Trucks (All Aboard Book)',
 'All About Passion (Cynster Novels)',
 'All Around the Town',
 'All Around the World Cookbook',
 'All But Love (Kismet Romance)',
 'All Fall Down',
 'All He Ever Wanted: A Novel',
 'All I Asking for Is My Body (Kolowalu Book)',
 'All I Really Need to Know I Learned in Kindergarten: Uncommon Thoughts on Common Things',
 'All New Great American Favorite Brand Name Cookbook',
 'All Night Long (Harlequin Presents, 2170)',
 'All Our Yesterdays (Large Print)',
 'All Rivers Run to the Sea: Memoirs',
 'All That Glitters (Avalon, 2)',
 'All That Remains (Kay Scarpetta Mysteries (Paperback))',
 'All They Want for Christmas: Comfort and Joy / Merry Christmas, Baby',
 'All Things Wise and Wonderful',
 'All Through The Night : A Suspense Story',
 'All Through the Night (Holiday Classics)',
 'All Together in One Place: A Novel of Kinship, Courage, and Faith (Kirkpatrick, Jane. Kinship and Courage Historical Series, Bk. 1.)',
 'All Too Human : A Political Education',
 'All You Need Is a Love Spell (Sabrina the Teenage Witch, 7)',
 'All You Really Need to Know about Prayer You Can Learn from the Poor',
 'All in the family: A cultural history of family life',
 'All of Me: A Voluptuous Tale',
 'All or Nothing (Wheeler Large Print Books)',
 'All the Days of My Life',
 'All the Finest Girls: A Novel',
 'All the Joy You Can Stand: 101 Sacred Power Principles for Making Joy Real in Your Life',
 "All the King's Men",
 'All the Pretty Horses (Border Trilogy, Vol 1)',
 'All the Pretty Horses (The Border Trilogy, Vol 1)',
 'All the Tenderness Left in the World: Short Stories',
 'All the Way to Heaven: An American Boyhood in the Himalayas',
 'All-American Girl',
 'All-of-a-kind Family',
 'Allegra Maud Goldman',
 'Alley Kat Blues (Kat Colorado Mysteries)',
 'Alligator Baby',
 'Almost Heaven',
 'Almost Paradise',
 'Almost Vegetarian : A Primer for Cooks Who Are Eating Vegetarian Most of the Time, Chicken &amp; FishSome of the Time, &amp; Altogether Well All of the Time',
 'Almost a Princess',
 'Almost blue (Stile libero)',
 'Almost: A Novel',

In [58]:
use.idxmax(axis=1)

276726    276726
276729    276726
276736    276726
276737    276726
276744    276726
           ...
162107    276726
162109    276726
162113    161453
162121    276726
162129    276726
Length: 2182, dtype: int64

In [60]:
data[(data['Userid']==276729)|(data['Userid']==276726)]

   Userid                 Books  Rating
0  276726   Classical Mythology       5
1  276729          Clara Callan       3
2  276729  Decision in Normandy       6

In [62]:
user1=data[(data['Userid']==276729)]
user2=data[(data['Userid']==276726)]

In [63]:
user1

   Userid                 Books  Rating
1  276729          Clara Callan       3
2  276729  Decision in Normandy       6

In [64]:
user2

   Userid                Books  Rating
0  276726  Classical Mythology       5

In [65]:
data

      Userid                                              Books  Rating
0     276726                                Classical Mythology       5
1     276729                                       Clara Callan       3
2     276729                               Decision in Normandy       6
3     276736  Flu: The Story of the Great Influenza Pandemic...       8
4     276737                             The Mummies of Urumchi       6
...      ...                                                ...     ...
9995  162121       American Fried: Adventures of a Happy Eater.       7
9996  162121                              Cannibal In Manhattan       9
9997  162121                    How to Flirt: A Practical Guide       7
9998  162121                                           Twilight       8
9999  162129                       Kids Say the Darndest Things       6

[10000 rows x 3 columns]

In [66]:
pd.merge(user1,user2,on='Books',how='outer')

   Userid_x                 Books  Rating_x  Userid_y  Rating_y
0  276729.0          Clara Callan       3.0       NaN       NaN
1  276729.0  Decision in Normandy       6.0       NaN       NaN
2       NaN   Classical Mythology       NaN  276726.0       5.0